<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Hello my freaking good friends!</h1>
    <h2>Let's get down, let's get down to business</h2>
    <p>
        You should know your angles, girl
        <br>Don't you stop, don't tangle, girl
        <br>You should really think about it, girl
        <br>Move your body, don't stop, stop, stop
        <br>You should know your angles, girl
        <br>Don't you stop, don't tangle, girl
        <br>You should really think about it, girl
        <br>Move your body, don't stop, stop, stop
        <br>You should know your angles, girl
        <br>Don't you stop, don't tangle, girl
        <br>You should really think about it, girl
        <br>Move your body, don't stop, stop, stop
        <br>You should know your angles, girl
        <br>Don't you stop, don't tangle, girl
        <br>You should really think about it, girl
        <br>Move your body, don't stop, stop, stop
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nCg3ufihKyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>