<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Hello my lovely python world!</h1>
    <p>
        Oh, you know, you know, you know that's the motto (mm-mm)
        <br>Drop a few bills then pop a few champagne bottles (mm-mm)
        <br>Throwin' that money like you just won the lotto (mm-mm)
        <br>We been up all damn summer makin' that bread and butter
        <br>Tell me, did I just stutter?
        <br>That's the motto (mm-mm)
        <br>Drop a few bills then pop a few champagne bottles (mm-mm)
        <br>Throwin' that money like you just won the lotto (mm-mm)
        <br>We been up all damn summer makin' that bread and butter
        <br>Tell me, did I just stutter?
        <br>That's the motto
        <br>That's the motto
    </p>
</body>
</html>