{% extends 'estiem/base.html' %}

{% block content %}
    <div class="about">
        <h1>{{title}}</h1>
        <p>
        European Students of Industrial Engineering and Management (ESTIEM)
        </p>
        <p>
        ESTIEM is a non-profit organisation for IEMinfo_outline students who combine technological understanding with management skills. Founded in 1990, our goal is to foster relations between IEM students and support their development.
        </p>
        <p>
        Our vision is to be the connector of IEM students in Europe
        An IEM Europe is the ecosystem of companies, universities, organisations and other entities interested in the field of IEM. We are striving for each IEM Student to have a connection not only with other students all over Europe of the same field but also to other companies and universities, to ensure each student as a voice as well as the opportunity to make a difference, and to allow each outstanding innovative idea to become reality.
        </p>
        <p>
        Our values
        </p>
        <p>
        Embracing diversity
        We see multiculturalism as a strength of ESTIEM. We benefit from our cultural diversity by being able to approach chances and challenges with different insights. Respect is not just something we strive for, but part of the very basis of our network.
        </p>
        <p>
        Striving for development
        We grow together by trying hard and learning from mistakes, we are eager to go through a learning process and see accessibility and freedom as highest goals. ESTIEMers gain practical experience and important soft-skills needed in today's world
        </p>
        <p>
        Encouraging participation
        ESTIEM being a democratic organisation with a flat hierarchy encourages the participation of all its members. We inspire each other to partake in ESTIEM’s activities and develop new ideas
        </p>
        <p>
        Aiming high
        We are not afraid of stepping out of our comfort zone. ESTIEM's members are proactive students that always give 100%. We encourage an entrepreneurial spirit among students and other stakeholders by gathering and exchanging experiences and best practices
        </p>
    </div>
{% endblock %}