<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>PLOHOYPAREN</title>
		<link href = "../../../static/main/css/Gorgeous.css" rel = "stylesheet" type = "text/css"/>
		<style>
			body {
				background-color: black;
			}

			.plohoyparen {
				color: white;
				text-align: center;
				font-size: 40px;
				margin-top: 48px;
			}
		</style>
	</head>
	<body>
		<header>
			<a href="Main.html" class="logo"><img class="logo_img" src="../../../static/main/images/Plohoyparen_logo.jpg"></a>
			<nav>
				<a href="Main.html">Главная</a>
				<a href="Contacts.html">Контакты</a>
				<a class="active" href="Bout_us.html">О Нас</a>
			</nav>
		</header>
	
		<h2 class="plohoyparen">
			<p>Кушаю таблетку</p>
			<p>Меня сильно мажет</p>
			<p>Я не понимаю</p>
			<p>Я не понимаю</p>
			<p>Просто растворяюсь</p>
			<p>Я седьмой день под xan'ом</p>
			<p>Я скушал всю отраву</p>
			<p>Надо больше</p>
		</h2>
	</body>
</html>